<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://www.loughrigg.org/watershed/watershed.ico" />
    <link href="http://loughrigg.org/watershed/content/feed" rel="alternate" type="application/rss+xml" title="A Watershed Walk"/>
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/fontello.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

    <!--<header id="header">-->

    	<div id="watershedHeader">
    		<nav style="padding: 0px 20px;">
    		  <ul>
    			<li><a href="{{base_url}}/../map">Map</a></li>
    			<li><a href="{{base_url}}/diary">Diary</a></li>
    			<li><a href="{{base_url}}/about">About</a></li>
    		  </ul>
    		</nav>
    	</div>

    <!--</header>-->
