{{ include('header.twig') }}

    <section id="content">
        <div class="inner">

            {% if current_page.id == "diary" %}
              <h1>Diary</h1>
            {% endif %}

            {{ content }}

            {% if current_page.id == "diary" %}
              {% for page in pages|sort_by("url") %}
                  {% if page.id starts with "trip/" %}
                      <div class="post">
                          <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                          <div class="excerpt">{{ page.description }}</div>
                      </div>
                  {% endif %}
              {% endfor %}
            {% endif %}
        </div>
    </section>

{{ include('footer.twig') }}
