<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/fontello.css" type="text/css" />

    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

    <header id="header">

    	<div id="watershedHeader">
    		<nav style="padding: 0px 20px;">
    		  <ul>
    			<li><a href="../map">Map</a></li>
    			<li><a href="diary">Diary</a></li>
    			<li><a href="about">About</a></li>
    		  </ul>
    		</nav>
    	</div>

<!--
        <div class="inner clearfix">
            <h1><a href="{{ "index"|link }}" id="logo">{{ site_title }}</a></h1>
            <nav>
                <ul>
                    {% for page in pages if page.title %}
                        <li{% if page.id == current_page.id %} class="active"{% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
-->
    </header>

    <section id="content">
        <div class="inner">
            {{ content }}
        </div>
    </section>

    <footer id="footer">
        <div class="inner">
            Copyright &copy; 2013-2018 David R Edgar
        </div>
    </footer>

</body>
</html>
