{{ include('header.twig') }}

    <section id="content">
        <div class="inner">
            {{ content }}

            {% if current_page.id starts with "trip/" %}
              {% for page in pages|sort_by("time") %}
                  {% if page.id starts with "day/" %}
                      <div class="post">
                        {#  <h3><a href="{{ page.url }}">&#xe804;</a></h3> #}
                          <div class="excerpt">{{ page.content_for_inclusion }}</div>
                      </div>
                  {% endif %}
              {% endfor %}
            {% endif %}

            <div class="tripNavLinks">
              {% if prev_page.id starts with "trip/" %}
                <span class="prevTrip">
                  <a href="{{ prev_page.url }}"><span class="navArrow">←</span> {{ prev_page.title }}</a>
                </span>
              {% endif %}
              {% if next_page.id starts with "trip/" %}
                <span class="nextTrip">
                  <a href="{{ next_page.url }}">{{ next_page.title }} <span class="navArrow">→</span></a>
                </span>
              {% endif %}
            </div>
        </div>
    </section>

{{ include('footer.twig') }}
